$font_path: "~@/assets/fonts/";

@font-face {
  font-family: "Aref_Ruqaa";
  src: local("Aref_Ruqaa"), local("Roboto-Regular"),
    url($font_path+"Aref_Ruqaa/ArefRuqaa-Regular.ttf") format("truetype"),
    url($font_path+"Aref_Ruqaa/ArefRuqaa-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
